//colores//
$color1: #F6F578;
$color2: #F6D743;
$color3: #649D66;
$color4: #06623B;

/* lista de fonts---
font-family: 'Lato', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif; 
---*/

//tipografias//
$cheguword: 'Montserrat Alternates', sans-serif;
$titulos: 'Roboto', sans-serif;
$parrafos: 'Lato', sans-serif;



// mixinns//
@mixin titulos-h2 {
    margin: 0;
    color: #000000;
    font-family: $titulos;
    font-size: 1.8;
    font-weight: 900;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.chegu-word {
    font-family: $cheguword;
    font-weight: 700;

}

body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#F6F578, #F6D743, #649D66, #06623B);
}

h2 {
    @include titulos-h2()
}

p {
    font-family: $parrafos;
}









a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #0056b3;
}

